@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans", sans-serif;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.menu-li li {
  @apply mb-7;
}

.menu-li li:last-child {
  @apply mb-0;
}

.navbar {
  @apply transition-all ease-in-out z-50;
}

.navbar-open {
  @apply translate-x-0;
}

.navbar-close {
  @apply -translate-x-full;
}

.cart {
  @apply transition-all overflow-y-hidden ease-in-out z-50 h-full;
}

.cart-open {
  @apply translate-x-0;
}

.cart-close {
  @apply translate-x-full;
}

.menu-dim {
  @apply bg-red-500 opacity-25;
}

.menu-not-dim {
  @apply opacity-100;
}

.header-menu li {
  @apply mr-5;
  letter-spacing: 3px;
}

.header-menu li:last-child {
  @apply mr-0;
}

.header-menu li a {
  @apply text-slate-800 transition-all ease-in-out;
}

.header-menu li a:hover {
  @apply text-pizza-600;
}

.dots {
  @apply flex justify-center;
}

.dot {
  @apply border-none w-8 h-3 bg-ebb rounded-full mx-2 p-2 cursor-pointer;
  margin-top: -40px;
  z-index: 20;
}

.dot:focus {
  outline: none;
}

.dot.active {
  @apply bg-yellow-300;
}

.arrow {
  @apply w-8 h-8 absolute fill-pizza-500 cursor-pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  right: 5px;
}

.arrow--disabled {
  @apply fill-pizza-100;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  @apply border-2 border-dotted;
}

body {
  background: #fff;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
