@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans", sans-serif;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.menu-li li {
  @apply mb-7;
}

.menu-li li:last-child {
  @apply mb-0;
}

.navbar {
  @apply transition-all ease-in-out z-50;
}

.navbar-open {
  @apply translate-x-0;
}

.navbar-close {
  @apply -translate-x-full;
}

.cart {
  @apply transition-all overflow-y-hidden ease-in-out z-50 h-full;
}

.cart-open {
  @apply translate-x-0;
}

.cart-close {
  @apply translate-x-full;
}

.menu-dim {
  @apply bg-red-500 opacity-25;
}

.menu-not-dim {
  @apply opacity-100;
}

.header-menu li {
  @apply mr-5;
  letter-spacing: 3px;
}

.header-menu li:last-child {
  @apply mr-0;
}

.header-menu li a {
  @apply text-slate-800 transition-all ease-in-out;
}

.header-menu li a:hover {
  @apply text-pizza-600;
}

.dots {
  @apply flex justify-center;
}

.dot {
  @apply border-none w-8 h-3 bg-ebb rounded-full mx-2 p-2 cursor-pointer;
  margin-top: -40px;
  z-index: 100;
}

.dot:focus {
  outline: none;
}

.dot.active {
  @apply bg-yellow-300;
}

.arrow {
  @apply w-8 h-8 absolute fill-pizza-500 cursor-pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  right: 5px;
}

.arrow--disabled {
  @apply fill-pizza-100;
}

/* Tabs .tabbed {
  position: relative;
  @apply w-full md:w-4/5 m-auto border-gray-200 border-4 rounded-xl bg-white;
}
.tabbed figure {
  @apply p-4;
  display: block;
  margin: 0;
  clear: both;
  z-index: 9;
}
.tabbed figure .tab_form {
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 100%;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  text-align: left;
  margin: 0;
}
.tabbed figure .tab_form .tab_inner > *:first-child {
  margin-top: 0;
}
.tabbed figure .tab_form .tab_inner > *:last-child {
  margin-bottom: 0;
}
.tabbed > input {
  display: none;
}
.tabbed nav {
  @apply bg-gray-100;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.tabbed nav label {
  width: 25%;
  padding: 8px 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}

.theme-1.tabbed {
  display: flex;
  flex-wrap: wrap;
}
.theme-1.tabbed figure {
  width: 75%;
  margin-top: 10px;
}
.theme-1.tabbed figure .tab_form {
  height: 0;
  background: #fff;
  text-align: left;
}
.theme-1.tabbed figure .tab_form .tab_inner {
  padding: 20px;
  border: 1px solid #0096ff;
}
.theme-1.tabbed nav {
  width: 25%;
  height: auto;
  display: block;
}
.theme-1.tabbed nav label {
  display: block;
  width: 100%;
  padding: 8px 20px;
  border: 1px solid #0096ff;
  background: #0096ff;
  color: #fff;
  cursor: pointer;
  margin-bottom: 4px;
  margin-right: 4px;
  transition: background-color 0.5s;
}
.theme-1.tabbed nav label:hover {
  background: rgba(0, 150, 255, 0.5);
}
.theme-1.tabbed nav label:active {
  background: #ffffff;
}

.theme-2.tabbed figure {
  padding-top: 35px;
}
.theme-2.tabbed figure .tab_form .tab_inner {
  padding: 15px;
  border: 1px solid #0096ff;
  background-color: #ffffff;
}
.theme-2.tabbed nav {
  position: absolute;
  width: 100%;
}
.theme-2.tabbed nav label {
  border: 1px solid #0096ff;
  background: #0096ff;
  width: 10%;
  margin-right: 4px;
}
.theme-2.tabbed nav label:hover {
  background: rgba(0, 150, 255, 0.5);
}
.theme-2.tabbed nav label:active {
  background: #ffffff;
}

.theme-3.tabbed {
  display: flex;
  flex-wrap: wrap;
}
.theme-3.tabbed figure {
  width: 75%;
}
.theme-3.tabbed figure .tab_form {
  height: 0;
  background: #fff;
  text-align: left;
}
.theme-3.tabbed figure .tab_form .tab_inner {
  padding: 20px;
}
.theme-3.tabbed nav {
  width: 25%;
  height: auto;
  display: block;
}
.theme-3.tabbed nav label {
  display: block;
  width: 80%;
  padding: 8px 20px;
  color: #0096ff;
  cursor: pointer;
  margin-bottom: 4px;
  margin-right: 4px;
  padding-left: 30px;
  text-align: left;
  position: relative;
}
.theme-3.tabbed nav label:before {
  content: "➤";
  position: absolute;
  left: -20px;
  top: 2px;
  opacity: 0;
  font-size: 24px;
  transition: opacity 0.5s, left 0.5s;
}
.theme-3.tabbed nav label:hover:before {
  opacity: 1;
  left: -8px;
}
.theme-3.tabbed nav label:active:before {
  opacity: 1;
  left: -8px;
}

@media (max-width: 767px) {
  .theme-1.tabbed nav {
    width: 100%;
  }
  .theme-1.tabbed nav label {
    width: calc(100% - 40px);
    display: block;
    float: none;
    margin: 4px 0;
    border-bottom: 1px solid #0096ff !important;
  }
  .theme-1.tabbed nav label:after {
    display: none !important;
  }
  .theme-1.tabbed figure {
    width: 100%;
  }

  .theme-3.tabbed nav {
    width: 100%;
  }
  .theme-3.tabbed figure {
    width: 100%;
    margin-top: 20px;
  }
}
.tabbed #tab1_1:checked ~ figure .tab1 {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.tabbed #tab1_2:checked ~ figure .tab1 {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.tabbed #tab1_3:checked ~ figure .tab1 {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.theme-1 #tab1_1:checked ~ nav label[for="tab1_1"] {
  background: #ffffff;
  color: #0096ff;
}

.theme-2 #tab1_2:checked ~ nav label[for="tab1_2"] {
  background: #ffffff;
  border-bottom-color: #ffffff;
  color: #0096ff;
}

.theme-3 #tab1_3:checked ~ nav label[for="tab1_3"]:before {
  opacity: 1;
  left: 0px;
}

.tabbed #tab2_1:checked ~ figure .tab2 {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.tabbed #tab2_2:checked ~ figure .tab2 {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.tabbed #tab2_3:checked ~ figure .tab2 {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.theme-1 #tab2_1:checked ~ nav label[for="tab2_1"] {
  background: #ffffff;
  color: #0096ff;
}

.theme-2 #tab2_2:checked ~ nav label[for="tab2_2"] {
  background: #ffffff;
  border-bottom-color: #ffffff;
  color: #0096ff;
}

.theme-3 #tab2_3:checked ~ nav label[for="tab2_3"]:before {
  opacity: 1;
  left: 0px;
}

.tabbed #tab3_1:checked ~ figure .tab3 {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.tabbed #tab3_2:checked ~ figure .tab3 {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.tabbed #tab3_3:checked ~ figure .tab3 {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.theme-1 #tab3_1:checked ~ nav label[for="tab3_1"] {
  background: #ffffff;
  color: #0096ff;
}

.theme-2 #tab3_2:checked ~ nav label[for="tab3_2"] {
  background: #ffffff;
  border-bottom-color: #ffffff;
  color: #0096ff;
}

.theme-3 #tab3_3:checked ~ nav label[for="tab3_3"]:before {
  opacity: 1;
  left: 0px;
} */

html,
body {
  background: rgb(247, 247, 247);
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
